DATABASE_URL="file:./dev.db"
SESSION_SECRET="change-me-to-a-random-32-char-minimum-secret"
NEXT_PUBLIC_SITE_URL="https://ropejfwe1.win"
NEXT_PUBLIC_SITE_NAME="GramStake"
NEXT_PUBLIC_WC_PROJECT_ID=1ba9248a009f4682a840421545f68b70
TRONGRID_API_KEY= 79639b24-1c41-4d54-9049-c55348be7445
ADMIN_TRON_PRIVATE_KEY=
